{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <label>Name:
            <input name="name"/>
        </label>
        <label>Email:
            <input name="email"/>
        </label>
        <label>Categories:
            <input name="categories"/>
        </label>
        <input type="submit" name="Subscribe"/>
    </form>
{% endblock body %}
